*{
    margin: 0px;
    padding: 0px;
}

body{}

#contenedor{
    width: 95%;
    margin: 10px auto;
}

nav{}

#logo{
    float: left;
    width: 15%;
    height: 100px;
    /*background-color: red;*/
}

#menu{
    float: left;
    width: 65%;
    height: 100px;
    /*background-color: orange;*/
}

#redes{
    float:right;
    width: 20%;
    height: 100px;
    /*background-color: tomato;*/
    text-align: center;
}
#whats{
    color: #68BF46;
    font-size: 1.5vw;
    width: 25%;
    height: 200%;
}
#face{
    color: #221CB9;
    font-size: 1.5vw;
    width: 25%;
    height: 200%;
}

header{
    clear: both; /*anula el flotamiento*/
    height: 350px;
    /*background-color: green;*/
    margin-top: 50px;
    background: rgb(164, 231, 164) url("../imgs/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 350px;
}

#izq{
    float: left;
    width: 20%;
    height: 50%;
    /*background-color: blue;*/
}
p{
    padding: 40px;
    border: 3px rgb(114, 218, 218) dashed;
    border-radius: 10px;
    margin:  75px 30px;
    text-align: center;
}

#centro{
    float: left;
    width: 60%;
    height: 500px;
    background-color: rgb(191, 240, 240);   
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol{
    display: inline-block;
}

#der{
    float: left;
    width: 20%;
    height: 500px;
    /*background-color: skyblue;*/
}

#uno{
    clear: both;
    float: left;
    width: 50%;
    height: 200px;
    /*background-color: rgb(162, 195, 245);*/
}

#dos{
    float: left;
    width: 50%;
    height: 200px;
    /*background-color: rgb(172, 171, 245);*/
}
.parrafo{
    padding: 10px;
    border: 2px rgb(205, 224, 224) dashed;
    border-radius: 10px;
    margin:  25px 10px;
    text-align: center;
}

footer{
    clear: both;
    height: 30px;
    /*background-color: green;*/
}

img{
    border-radius: 40px;
    height: 95%;
    width: 95%;
    margin: left;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    margin-left: 12%;
}

nav ul li a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}

.derechos{
    margin-left: 40%;
    color: black;
}